@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --cinza: #c9d1d3;
    --branco: #f7f7f7;
    --azul: #9dd3df;
    --preto: #3b3737;
    --vermelho: #991818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #3b3737;
}

.container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--cinza);
    font-family: 'Ubuntu', sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: var(--preto);
}

.wrapper {
    width: 40%;
    background-color: var(--azul);
    padding: 20px;
    border-radius: 10px;
    color: var(--preto);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-send {
    padding: 10px
}

.btn-primary {
    background-color: #991818 !important;
    border: 2px solid #991818 !important;

}

.btn-primary:hover {
    background-color: #841616 !important;
    border: 2px solid #f7f7f7 !important;
    transition: all ease-in 0.3s;
}

.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cadastro {
    position: relative;
    text-decoration: none;
    color: #3b3737;
}

#cadastro::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

#cadastro:hover::before {
    width: 100%;
}

#cadastro:hover {
    color: #1e1b1b;
    transform: all 0.6s ease-in-out;
}

#cadastro:hover span {
    color: var(--vermelho);
    transform: all 0.6s ease-in-out;
}

.input-group-text svg {
    transition: color 0.3s ease;
    cursor: pointer;
}